:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: #1d4364;
  background-color: #ffffff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #054b0a;
  text-decoration: inherit;
}
a:hover {
  color: #ff6a6a;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


h3 {
  margin: 5vw;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff0000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.profile-footer {
  text-align: center;
  position: fixed;
  inset: auto 0 0 0;
  padding: 1em;
}

/* NavBar */

nav {
  background-color: #c96262;
}

.nav-container {
  display:flex;
  width:100vw;
  justify-content: space-between;
  align-items:center; 
}

.nav-title {
  display:flex;
  flex-direction:row;
  padding-top:2vh;
  padding-left: 5vw;
}

.nav-links {
  display:flex;
  padding-right: 5vw;
}

.indiv-links {
  margin:2vw;
}

#nav-container a.active {
  color:#ff0000
}

/* Footer */

footer {
  background-color: #c96262;
}

.footer-container {
  display:flex;
  width:100%;
  justify-content: center;
  align-items:center; 
  list-style-type: none;
}

.footer-container img {
  margin-top:10px;
  margin-bottom:10px;
  width:50px;
  height:50px;
}

/* About Me Page */
.profile-pic {
  display:block;
  border-radius: 100%;
  max-width: 300px;
  max-height: 300px;
  min-width: 200px;
  min-height: 200px;
  margin-top:10vh;
  margin-bottom:10vh;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.about-text {
  margin:5vw;
}

/* Profile Page */

.grid-container {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;

}

.grid-item {
  padding: 20px;
}

.project-list {
  list-style-type: none;
}

.card-text-container {
  position: absolute;
  
}

.card-text {
  position:relative;
  top:10px;
  margin-left: 3vw;
}

/* Contact page */
.contact-body {
  margin: 5vw;
}

#message {
  resize:none;
  width:500px;
  height:300px;
}



.indiv-socials {
  margin:2vw;
}
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  a:hover {
    color: #ff0000;
  }
  button {
    background-color: #1a1a1a;
  }
}
